@using Microsoft.AspNetCore.Http;
@using E_market.Core.Application.Helpers;
@using E_market.Core.Application.ViewModels.Users;
@inject IHttpContextAccessor httpContextAccessor;
@{ UserViewModel user = httpContextAccessor.HttpContext.Session.Get<UserViewModel>("user"); }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_market_OnionMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" type="image/svg" sizes="128x128" href="~/favicon.ico"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3" style="--bs-bg-opacity: .5;">
            <div class="container text-white">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">E-market</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 text-white">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserArticles" asp-action="ArticleList">My Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="CategoryList">Manage Categories</a>
                        </li>
                    </ul>
                    <a class="btn btn-outline-danger" asp-controller="User" asp-action="Login">Sign Out</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-primary text-white" style="--bs-bg-opacity: .5;">
        <div class="container">
            &copy; @DateTime.Now.Year - E-market_OnionMVC - <a href="https://github.com/Javier3221" class="link-light">Javier Pérez</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
